*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.h1 {
    margin-left: 5rem;
    bottom: 100%;
    display: flex;
}
.jsdiv{
    margin-left: 5rem;  
}
.h4{
    margin-top: 15rem; 
    /* margin-left: 5px;  */
    padding-left: 5px;
}
.h5{
    margin-left: 5rem;  
}
.h3{
    margin-left: 29rem; 
}

.h6{
    
    padding-top: 5rem;
}
.h7{
   
    margin-left: 5rem; 
}  




