*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100vh;
    background-position:center center;
    object-fit: cover;
}
.content{
    position: absolute;
    top: 10rem;
    left: 5rem;
    opacity: 0; 
    width: 55%;
    padding: 2rem;
    background: rgb(0, 0, 0, 0.3);
    animation: slide-up 1s ease .5s;
    animation-fill-mode: forwards;
     /* visibility: hidden; */
color:rgb(0, 0, 0);
font-weight: 500;
height: 55%;

}
@keyframes slide-up {
    0%{
        visibility: visible;
        top: 23rem;
    }
    100%{
        visibility: visible;
        top: 17rem;
    }
    
}
.current{
    opacity: 1;
    transform: translateX(0);

}
.current .content{
    opacity: 1;
}

.arrow{
    border: 4px solid black ;
    border-radius: 50%;
    top: 50%;
    background: transparent;
    color: black;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}
.arrow:hover{
    background: #fff;
    color: #777;
}
.next{

    right: 1.5rem;
}
.prev{


    left: 1.5rem;
}
hr{
    height: 2px;
    background: #fff;
    width: 50%;
}
.btn{
    margin: 20px;
    border-radius: 8px;
    font-size: 20px;
    padding: 8px;
    font-weight: 700;
    background-color: #f7941e;
    color: #fff;
    box-shadow: rgb(90, 71, 13) 4px 4px 0px;
    transition:  transform 200ms, box-shadow 200ms;
    
}
.btn:hover{
    background: transparent;
    color: #f7941e;
}
.image-slider{
    background-image: linear-gradient(to top,rgba(18, 18, 34, 0.639),yellow);
    color: transparent;
    
}